---
layout: page
title: teaching
permalink: /teaching/
---

{%- assign t = site.data.teaching -%}

{%- if t.statement -%}
  <p>{{ t.statement }}</p>
{%- endif -%}

{%- if t.courses and t.courses.size > 0 -%}
  <h2><span class="section-title">courses</span></h2>
  <div class="entries">
    {%- for item in t.courses %}{% include entry.html item=item %}{% endfor -%}
  </div>
{%- endif -%}

{%- if t.talks and t.talks.size > 0 -%}
  <h2><span class="section-title">talks</span></h2>
  <div class="entries">
    {%- for item in t.talks %}{% include entry.html item=item %}{% endfor -%}
  </div>
{%- endif -%}

{%- if t.mentoring and t.mentoring.size > 0 -%}
  <h2><span class="section-title">mentoring</span></h2>
  <div class="entries">
    {%- for item in t.mentoring %}{% include entry.html item=item %}{% endfor -%}
  </div>
{%- endif -%}

{%- if t.service and t.service.size > 0 -%}
  <h2><span class="section-title">service &amp; outreach</span></h2>
  <div class="entries">
    {%- for item in t.service %}{% include entry.html item=item %}{% endfor -%}
  </div>
{%- endif -%}
